.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  
  .img-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .img-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  
  .img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(255, 255, 255, .4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  .img-wrapper:hover > img.zoom {
    transform: scale(1.1);
  }
  
  .img-wrapper > .content.fade {
    opacity: 0;
  }
  .img-wrapper:hover > .content.fade {
    opacity: 1;
    height: 25%;
    margin-top: 35%;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    background: #8f9a27;
    border-radius: 45%;

  }
  
  .img-wrapper > .content.slide-left {
    transform: translateX(-100%);
  }
  .img-wrapper:hover > .content.slide-left {
    transform: translateX(0);
    height: 25%;
    margin-top: 35%;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    background: #8f9a27;
    border-radius: 45%;
  }
  
  .img-wrapper > .content.slide-right {
    transform: translateX(100%);
  }
  .img-wrapper:hover > .content.slide-right {
    transform: translateX(0);
  }
  
  .img-wrapper > .content.slide-down {
    transform: translateY(-100%);
  }
  .img-wrapper:hover > .content.slide-down {
    transform: translateY(0);
  }
  
  .img-wrapper > .content.slide-up {
    transform: translateY(100%);
  }
  .img-wrapper:hover > .content.slide-up {
    transform: translateY(0);
  }
  .breadcrumb__text {
    text-align: center;
    background: rgb(33, 37, 41);
    height: 250px;
    padding-top: 1%;
    
}
  .breadcrumb__text h2{
    font-size: 4.5rem;

    font-weight: 100;
    color: rgb(255, 255, 255);
    
}
::after, ::before {
    box-sizing: border-box;
}

.breadcrumb__links {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    margin-bottom: 1%;

}


